/******* Fonts to use *******/

/* headers
font-family: 'Open Sans', sans-serif;

paragraphs and bodies
font-family: 'Source Sans Pro', sans-serif;  */

body,
main,
header,
footer {
  max-width: 1366px;
  margin: 0 auto;
  justify-content: center;
}

article {
  text-align: left;
  margin: 0 auto;
  width: 45ch;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 40px;
  font-size: 20px;
}

article > h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
}

/******* Header and Navigation *******/

header {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.708);
  max-width: 1366px;
  margin: 0 auto;
  padding: 30px 0;
}

header > h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 65px;
  margin: 0;
  width: 100%;
  color: rgba(0, 0, 0, 0.852);
}

/******* Navigation *******/

ul {
  /* had to take this off of default styling, not surte how to remove otherwise */
  padding-inline-start: 0;
}

li {
  display: flex;
  list-style-type: none;
  display: inline;
}

header nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin: auto;
}

header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

header nav ul li {
  box-sizing: border-box;
}

header nav ul li a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  border-radius: 100%;
  transition: 2s all;
}

.block1,
.block2,
.block3,
.block4,
.block5,
.block6 {
  width: 95px;
  height: 95px;
  transition: 0.5s all;
}
.block1:hover,
.block2:hover,
.block3:hover,
.block4:hover,
.block5:hover,
.block6:hover {
  border-radius: 100%;
  transform: scale(3, 3) rotate(720deg);
  transition: 2s all;
}

/********************* First Color Section (Red) *****************************/

#first {
  background-color: #c1737a;
  height: 1150px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 150px;
  padding-top: 250px;
  margin-top: -4px;
}

.block1 {
  border-radius: 100%;
  box-shadow: inset 0px 0px 19px 12px #ae0213;
}

.cvdPalette {
  flex: 100%;
  width: 100%;
  margin-left: 120px;
}

/* First CVD Color Palette block */

.cBlockOne {
  background-color: #ae0213;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  box-shadow: 0px 3px 19px 1px #777777;
}
.cvdBlockName {
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  font-weight: 300;
  width: 250px;
  /* margin: auto; */
}

.paletteOne {
  display: flex;
  margin-bottom: 20px;
}

.blockOne {
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

/* Second CVD Color Palette Block */

.paletteTwo {
  display: flex;
  margin-bottom: 20px;
}

.blockTwo {
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

/* Third CVD Color Palette block */

.paletteThree {
  display: flex;
  margin-bottom: 20px;
}

.blockThree {
  /* background-color: black; */
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

/* Fourth CVD Color Palette */

.paletteFour {
  display: flex;
  margin-bottom: 20px;
}

/* CVD Palette  */

.nonOneBOne {
  background-color: #ae0213;
}

.nonOneBTwo {
  background-color: #ec4959;
}

.nonOneBThree {
  background-color: #e80219;
}

.nonOneBFour {
  background-color: #692028;
}

.nonOneBFive {
  background-color: #b50214;
}

.dOneBOne {
  background-color: #6e6004;
}

.dOneBTwo {
  background-color: #9e9054;
}

.dOneBThree {
  background-color: #948300;
}

.dOneBFour {
  background-color: #453f26;
}

.dOneBFive {
  background-color: #726505;
}

.pOneBOne {
  background-color: #473f0f;
}

.pOneBTwo {
  background-color: #756f57;
}

.pOneBThree {
  background-color: #625614;
}

.pOneBFour {
  background-color: #323028;
}

.pOneBFive {
  background-color: #4b4211;
}

.tOneBOne {
  background-color: #c0010e;
}

.tOneBTwo {
  background-color: #ff1a50;
}

.tOneBThree {
  background-color: #ff0013;
}

.tOneBFour {
  background-color: #731023;
}

.tOneBFive {
  background-color: #c80010;
}

/***************************** Second Color Section (Orange) **************************/

#second {
  background-color: #dc7a48b1;
  padding: 120px 220px;
  height: 1150px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 150px;
  padding-top: 250px;
}

.block2 {
  border-radius: 100%;
  box-shadow: inset 0px 0px 19px 12px #fa6214;
}

/* First CB Color Palette block */
.cBlockTwo {
  background-color: #fa6214;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  box-shadow: 0px 3px 19px 1px #777777;
}
.blockName {
  width: 120px;
  margin: auto;
}

.paletteOne {
  display: flex;
}

.blockOne {
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

/* Second CB Color Palette Block */

.paletteTwo {
  display: flex;
}

.blockTwo {
  /* background-color: black; */
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
}

/* Third CB Color Palette block */

.paletteThree {
  display: flex;
}

.blockThree {
  /* background-color: black; */
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
}

/* CVD Palette  */

.nonTwoBOne {
  background-color: #fa6214;
}

.nonTwoBTwo {
  background-color: #e88858;
}

.nonTwoBThree {
  background-color: #e35812;
}

.nonTwoBFour {
  background-color: #633a26;
}

.nonTwoBFive {
  background-color: #b0440e;
}

.dTwoBOne {
  background-color: #b4a004;
}

.dTwoBTwo {
  background-color: #b9a957;
}

.dTwoBThree {
  background-color: #a29102;
}

.dTwoBFour {
  background-color: #4f4825;
}

.dTwoBFive {
  background-color: #7e7006;
}

.pTwoBOne {
  background-color: #8e7d00;
}

.pTwoBTwo {
  background-color: #a29355;
}

.pTwoBThree {
  background-color: #817101;
}

.pTwoBFour {
  background-color: #453f23;
}

.pTwoBFive {
  background-color: #635601;
}

.tTwoBOne {
  background-color: #ff3855;
}

.tTwoBTwo {
  background-color: #fc767d;
}

.tTwoBThree {
  background-color: #fa324c;
}

.tTwoBFour {
  background-color: #6c3235;
}

.tTwoBFive {
  background-color: #c2283a;
}

/***************************** Third Color Section (Yellow) **************************/

#third {
  background-color: #ffea8cd2;
  height: 1150px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 150px;
  padding-top: 250px;
}

.block3 {
  border-radius: 100%;
  box-shadow: inset 0px 0px 19px 12px #fdcd02;
}

/* First CB Color Palette block */
.cBlockThree {
  background-color: #fdcd02;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  box-shadow: 0px 3px 19px 1px #777777;
}
.blockName {
  width: 120px;
  margin: auto;
}

.paletteOne {
  display: flex;
}

.blockOne {
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

/* Second CB Color Palette Block */

.paletteTwo {
  display: flex;
}

.blockTwo {
  /* background-color: black; */
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
}

/* Third CB Color Palette block */

.paletteThree {
  display: flex;
}

.blockThree {
  /* background-color: black; */
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
}

/* CVD Palette  */

.nonThreeBOne {
  background-color: #fdcd02;
}

.nonThreeBTwo {
  background-color: #e8ca48;
}

.nonThreeBThree {
  background-color: #e3ba02;
}

.nonThreeBFour {
  background-color: #63571f;
}

.nonThreeBFive {
  background-color: #b09002;
}

.dThreeBOne {
  background-color: #f1d820;
}

.dThreeBTwo {
  background-color: #e6cf4f;
}

.dThreeBThree {
  background-color: #dac31d;
}

.dThreeBFour {
  background-color: #635922;
}

.dThreeBFive {
  background-color: #aa9714;
}

.pThreeBOne {
  background-color: #e6ca00;
}

.pThreeBTwo {
  background-color: #dec636;
}

.pThreeBThree {
  background-color: #d1b700;
}

.pThreeBFour {
  background-color: #5f5518;
}

.pThreeBFive {
  background-color: #a28e02;
}

.tThreeBOne {
  background-color: #ffbaaf;
}

.tThreeBTwo {
  background-color: #fabbb0;
}

.tThreeBThree {
  background-color: #f7a99e;
}

.tThreeBFour {
  background-color: #6b504b;
}

.tThreeBFive {
  background-color: #c0837a;
}

/***************************** Fourth Color Section (Green) **************************/

#fourth {
  background-color: #a6e4adc4;
  height: 1150px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 150px;
  padding-top: 250px;
}

.block4 {
  border-radius: 100%;
  box-shadow: inset 0px 0px 19px 12px #399b45;
}

/* First CB Color Palette block */
.cBlockFour {
  background-color: #399b45;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  box-shadow: 0px 3px 19px 1px #777777;
}
.blockName {
  width: 120px;
  margin: auto;
}

.paletteOne {
  display: flex;
}

.blockOne {
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

/* Second CB Color Palette Block */

.paletteTwo {
  display: flex;
}

.blockTwo {
  /* background-color: black; */
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
}

/* Third CB Color Palette block */

.paletteThree {
  display: flex;
}

.blockThree {
  /* background-color: black; */
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
}

/* CVD Palette  */

.nonFourBOne {
  background-color: #399b45;
}

.nonFourBTwo {
  background-color: #9feea9;
}

.nonFourBThree {
  background-color: #57eb68;
}

.nonFourBFour {
  background-color: #486b4c;
}

.nonFourBFive {
  background-color: #44b851;
}

.dFourBOne {
  background-color: #91844b;
}

.dFourBTwo {
  background-color: #e3d9ad;
}

.dFourBThree {
  background-color: #dbca72;
}

.dFourBFour {
  background-color: #66614e;
}

.dFourBFive {
  background-color: #ac9e59;
}

.pFourBOne {
  background-color: #9d8d3c;
}

.pFourBTwo {
  background-color: #f0e0a5;
}

.pFourBThree {
  background-color: #efd75b;
}

.pFourBFour {
  background-color: #6c654a;
}

.pFourBFive {
  background-color: #bba846;
}

.tFourBOne {
  background-color: #229788;
}

.tFourBTwo {
  background-color: #95eadc;
}

.tFourBThree {
  background-color: #30e5ce;
}

.tFourBFour {
  background-color: #446963;
}

.tFourBFive {
  background-color: #27b4a1;
}

/***************************** Fifth Color Section (Blue) **************************/

#fifth {
  height: 1150px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 150px;
  padding-top: 250px;
  background-color: #6d9fd8df;
}

.block5 {
  border-radius: 100%;
  box-shadow: inset 0px 0px 19px 12px #004799;
}

/* First CB Color Palette block */
.cBlockFive {
  background-color: #004799;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  box-shadow: 0px 3px 19px 1px #777777;
}
.blockName {
  width: 120px;
  margin: auto;
}

.paletteOne {
  display: flex;
}

.blockOne {
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

/* cvdBlocks */

.nonFiveA {
  background-color: #93a6bf;
}

.nonFiveB {
  background-color: #035aa6;
}

.nonFiveC {
  background-color: #023e73;
}

.nonFiveD {
  background-color: #537fa6;
}

.nonFiveE {
  background-color: #0367a6;
}

.dFiveBOne {
  background-color: #99a2be;
}

.dFiveBTwo {
  background-color: #0652a5;
}

.dFiveBThree {
  background-color: #083972;
}

.dFiveBFour {
  background-color: #6477a5;
}

.dFiveBFive {
  background-color: #315da5;
}

.pFiveBOne {
  background-color: #9ea7c0;
}

.pFiveBTwo {
  background-color: #3061a9;
}

.pFiveBThree {
  background-color: #214275;
}

.pFiveBFour {
  background-color: #707fa8;
}

.pFiveBFive {
  background-color: #486aa9;
}

.tFiveBOne {
  background-color: #87abae;
}

.tFiveBTwo {
  background-color: #006c78;
}

.tFiveBThree {
  background-color: #004b52;
}

.tFiveBFour {
  background-color: #2a888c;
}

.tFiveBFive {
  background-color: #01767e;
}

/* Second CB Color Palette Block */

.paletteTwo {
  display: flex;
}

.blockTwo {
  /* background-color: black; */
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
}

/* Third CB Color Palette block */

.paletteThree {
  display: flex;
}

.blockThree {
  /* background-color: black; */
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
}

/***************************** Sixth Color Section (Brown) **************************/

#sixth {
  height: 1150px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 150px;
  padding-top: 250px;
  background-color: #87633daa;
}

.block6 {
  border-radius: 100%;
  box-shadow: inset 0px 0px 19px 12px #482d1f;
}

/* First CB Color Palette block */
.cBlockSix {
  background-color: #482d1f;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  box-shadow: 0px 3px 19px 1px #777777;
}
.blockName {
  width: 120px;
  margin: auto;
}

.paletteOne {
  display: flex;
}

.blockOne {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  border-radius: 100%;
  border: 1px solid black;
}

/* Second CB Color Palette Block */

.paletteTwo {
  display: flex;
}

.blockTwo {
  width: 60px;
  height: 60px;
  margin-left: 30px;
  border-radius: 100%;
  border: 1px solid black;
}

/* Third CB Color Palette block */

.paletteThree {
  display: flex;
}

.blockThree {
  width: 60px;
  height: 60px;
  margin-left: 30px;
  border-radius: 100%;
  border: 1px solid black;
}

.blockFour {
  width: 60px;
  height: 60px;
  margin-left: 30px;
  border-radius: 100%;
  border: 1px solid black;
}

/* CVD Palette  */

.nonSixBOne {
  background-color: #482d1f;
}

.nonSixBTwo {
  background-color: #eec3ae;
}

.nonSixBThree {
  background-color: #eb9165;
}

.nonSixBFour {
  background-color: #6b584e;
}

.nonSixBFive {
  background-color: #b8724f;
}

.dSixBOne {
  background-color: #3b361f;
}

.dSixBTwo {
  background-color: #d8cfad;
}

.dSixBThree {
  background-color: #bfaf64;
}

.dSixBFour {
  background-color: #605d4e;
}

.dSixBFive {
  background-color: #968850;
}

.pSixBOne {
  background-color: #33301e;
}

.pSixBTwo {
  background-color: #cec7ad;
}

.pSixBThree {
  background-color: #a99c61;
}

.pSixBFour {
  background-color: #5d5a4d;
}

.pSixBFive {
  background-color: #847a4c;
}

.tSixBOne {
  background-color: #4e2829;
}

.tSixBTwo {
  background-color: #fabcbd;
}

.tSixBThree {
  background-color: #ff8086;
}

.tSixBFour {
  background-color: #705554;
}

.tSixBFive {
  background-color: #c86569;
}

/* Footer */

footer {
  background: linear-gradient(
    90deg,
    rgba(174, 2, 19, 0.6755077030812324) 3%,
    rgba(250, 98, 20, 0.6643032212885154) 21%,
    rgba(253, 205, 2, 0.700717787114846) 37%,
    rgba(57, 155, 69, 0.6727065826330532) 55%,
    rgba(0, 71, 153, 0.6783088235294117) 77%,
    rgba(72, 45, 31, 0.7287289915966386) 96%
  );
  height: 75px;
  text-align: center;
  padding-top: 75px;
}

footer > a > p {
  display: inline;
}

footer > a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: black;
  border-radius: 100%;
}

footer > a > p:hover {
  color: #ffffff;
  box-shadow: 0px 0px 7px 6px #ffffff;
  border-radius: 100%;
}

/* CLasses for JS use */

.animate {
  transform: rotate(4deg) rotateY(7200deg);
  transition: 4s all ease;
  z-index: 1;
}
