.container {
  height: 100%;
  background: #95bbbf;
  color: #26414b;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: x-large;
}

header {
  margin: 65px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header > h1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 100%;
}

header > h2 {
  margin-bottom: 60px;
  display: flex;
  flex: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

#banner {
  display: flex;
  width: 800px;
  height: 250px;
  margin: 40px 0;
}

#banner:hover {
  background-image: url('../images/donner.jpg');
  /* transform: perspective(100px) rotateY(360deg);
  transition: all 1.5s ease; */
}

.banner_item1 {
  width: 100%;
  height: 100%;
  background-color: #5d848c;
  transform: perspective() rotateY(45deg);
}

.banner_item1:hover {
  transform: perspective(1355px) rotateY(2160deg);
  background-color: rgb(149, 126, 149, 0.25);
  transition: all 5s ease-out;
}

.banner_item2 {
  height: 100%;
  width: 100%;
  background-color: #88b5bf;
  transform: perspective() rotateY(45deg);
}

.banner_item2:hover {
  transform: perspective(1355px) rotateY(2160deg);
  background-color: rgb(40, 82, 116, 0.25);
  transition: all 7s ease-out;
}

.banner_item3 {
  height: 100%;
  width: 100%;
  background-color: #b0d5d9;
  transform: perspective() rotateY(45deg);
}

.banner_item3:hover {
  transform: perspective(1355px) rotateY(2160deg);
  background-color: rgb(186, 184, 184, 0.25);
  transition: all 7s ease-out;
}

main {
  max-width: 1200px;
  display: flex;
  flex: auto;
  justify-content: center;
  flex: 100%;
}

main > section {
  width: 400px;
  border-radius: 15px;
  background: #26414b;
  color: #cae6ea;
  margin: 0 15px;
  text-align: center;
}

main > section > ul {
  display: block;
  line-height: 35px;
  list-style-type: none;
  padding-inline-start: 0;
}

main > section > ul > a {
  margin: 0 10px;
  padding: 30px 0;
  text-decoration: none;
  color: #8daab0;
}
main > section > ul > li > a {
  padding: 20px 0;
  color: #8daab0;
  text-decoration: none;
  display: block;
  width: 100%;
}

main > section > ul > li > a:hover {
  display: block;

  background-color: #95bbbf;
  color: #26414b;
}

footer {
  display: flex;
  flex: 100%;
  justify-content: center;
  margin: 100px 0;
}

footer > p > a {
  text-decoration: none;
  color: #26414b;
}

footer > p > a:hover {
  color: #b0d5d9;
}

@media (min-width: 800px) {
  .container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 799px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
  }
}
