/*
Font families

font-family: 'Almarai', sans-serif;
font-family: 'Architects Daughter', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Fascinate', cursive;
font-family: 'Hanuman', serif;
font-family: 'Indie Flower', cursive;
font-family: 'Nosifer', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Single Day', cursive;
font-family: 'Stick', sans-serif;

*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1366px;
  font-family: 'Almarai', sans-serif;
  margin: 0 auto;
  position: relative;
  height: 22500px;
  background-color: rgb(33, 33, 33);
}

header {
  color: whitesmoke;
  text-align: center;
  margin-top: 25px;
}

main {
  position: relative;
  text-align: center;
  color: aliceblue;
}

footer {
  margin-top: 50px;
}

h2 {
  font-size: 50px !important;
}

/* boxes */

.box {
  position: fixed;
  transform: translate3d(0px, 0px, 0px);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  font-family: 'Almarai', sans-serif;
  color: rgb(211, 211, 211);

  /* Properties that allow for a smooth transition for the overlay */
  transition-property: opacity, visibility;
  transition-duration: 3s;
  transition-timing-function: all ease;
}

#box0,
#box1,
#box2 {
  border-radius: 100%;
  transform: matrix(0, 0, 0, 0, 0, 0);
  height: 1000px;
}

/* Individual top placements for boxes */

#box3,
#box4,
#box5,
#box6,
#box7,
#box8,
#box9,
#box10,
#box11,
#box12 {
  display: flex;
  position: absolute;
  left: 0;
}

#box3 {
  top: 11000px;
}

#box4 {
  top: 12200px;
}

#box5 {
  top: 13400px;
}

#box6 {
  top: 14600px;
}

#box7 {
  top: 15800px;
}

#box8 {
  top: 17000px;
}

#box9 {
  top: 18200px;
}

#box10 {
  top: 19400px;
}

#box11 {
  top: 20600px;
}

#box12 {
  display: flex;
  flex-wrap: wrap;
  top: 21800px;
}

#finalBtn {
  text-align: center;
  width: 455px;
  padding: 20px;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 246, 246, 0.051);
  color: whitesmoke;
  transition: all 2s ease;
}

#finalBtn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 26px 0px rgb(251, 252, 255);
  background-color: whitesmoke;
  color: black;
  outline: none;
  transition: all 2s ease;
}

/******* Voices ********/

.voices {
  font-family: 'Almarai', sans-serif;
  font-size: 165px;
  color: rgb(211, 211, 211);
  /* Do I really need this? */
  transition-duration: all 4s ease;
}

/* Each voice has different flex positioning */

#v0,
#v1,
#v2 {
  grid-column: 2;
  grid-row: 2;
}

#v0 {
  display: flex;
  justify-content: flex-start;
}

#v2 {
  display: flex;
  justify-content: flex-end;
}

#v12 {
  flex: 100%;
  margin-bottom: 125px;
}

#v13 {
  font-size: 85px;
}

/**************** Final NAMI Overlay ***************/

#namiOverlay {
  display: flex;
  flex-wrap: wrap;
  background: #00467f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #a5cc82,
    #00467f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #a5cc82,
    #00467f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: rgba(255, 255, 255, 0.893);
  height: 100%;
  z-index: 1;
}

.btnDiv {
  width: 100%;
  display: flex;
  height: 40px;
}

#closeBtn {
  align-items: flex-start;
  border-radius: 100%;
  align-content: start;
  padding-bottom: 45px;
  color: rgba(255, 255, 255, 0.893);
  background-color: rgba(0, 0, 0, 0.154);
  width: 45px;
  outline: none;
  margin-top: 15px;
  margin-left: 15px;
  text-decoration: none;
}
#closeBtn:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.359);
}

#namiOverlay > h1 {
  color: rgba(255, 255, 255, 0.893);

  flex: 100%;
}

#namiOverlay > article {
  margin: auto;
  max-width: 1366px;
  width: 40ch;
  padding-left: 325px;
  padding-right: 325px;
  margin-bottom: 150px;
}

.footer > ul {
  display: flex;
  justify-content: space-evenly;

  margin: auto;
  list-style-type: none;
}

.footer > ul > li > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.893);
  font-size: 22px;
}

.footer > ul > li > a:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px #a5cc82, 0 0 5px #a5cc82;
}

/* Used to take out of the flow of the doc.  */

.hide {
  display: none;
}

.show {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  align-items: center;
}

/* Consider removing some of the hidden and showing? */

.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.showing {
  visibility: visible;
  opacity: 1;
  height: 100vh;
  z-index: 100;
}

.vertical {
  left: 0;
  z-index: 1;
}

.fadeIn {
  animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOut ease 2s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
