/*
Font families

font-family: 'Almarai', sans-serif;
font-family: 'Architects Daughter', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Fascinate', cursive;
font-family: 'Hanuman', serif;
font-family: 'Indie Flower', cursive;
font-family: 'Nosifer', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Single Day', cursive;
font-family: 'Stick', sans-serif;

*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1366px;
  font-family: 'Almarai', sans-serif;
  margin: 0 auto;
  position: relative;
  height: 43000px;
  background-color: rgb(33, 33, 33);
}

/* Used to take out of the flow of the doc.  */

.hide {
  display: none;
}

.show {
  display: block;
}

header {
  text-align: center;
  margin-top: 25px;
}

.animationWrapper {
  position: relative;
  height: 100vh;
  text-align: center;
  color: aliceblue;
}

article {
  position: absolute;
  height: 1000px;
  width: 100%;
}

/* boxes */

.box {
  display: flex;
  position: absolute;
  transform: translate3d(0px, 0px, 0px);
  width: 100%;

  /* Does it need to be 1000? */
  height: 1000px;
  top: 0;
  left: 0;
  margin: auto;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  font-family: 'Almarai', sans-serif;
  color: rgb(211, 211, 211);
  background-color: #212121;

  /* Properties that allow for a smooth transition for the overlay */
  transition-property: opacity, visibility;
  transition-duration: 3s;
  transition-timing-function: all ease;
}

#box0 {
  border-radius: 100%;
}

/* Look into having to be placed at different top positions? */

#box3 {
  height: 100%;
  display: flex;
  position: absolute;
  top: 20000px;
  left: 0;
  font-family: 'Almarai', sans-serif;
  color: rgb(211, 211, 211);
  font-size: 35px;
  transition-duration: all 4s ease;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #212121;
}

/* These h2's will have different flex positions */

#box12 > h2 {
  grid-column: 2;
  grid-row: 1;
  width: 50ch;
  font-size: 50px !important;
}

#box12 > button {
  grid-column: 2;
  grid-row: 2;
  padding: 20px;
  border-radius: 15px;
  outline: none;
}

#box12 > button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 26px 0px rgb(251, 252, 255);
  outline: none;
}

#box12 > footer {
  font-size: 16px;
  grid-column: 2;
  grid-row: 3;
}

#box12 > footer > p > a {
  text-decoration: none;
  color: aliceblue;
}

#box12 > footer > p > a:hover {
  color: rgb(0, 85, 205);
}

/******* Voices ********/

.voices {
  font-family: 'Almarai', sans-serif;
  font-size: 165px;
  color: rgb(211, 211, 211);
  /* Do I really need this? */
  transition-duration: all 4s ease;
}

/* Each voice has different flex positioning */

#v0 {
  align-items: flex-start;
}

#v2 {
  align-items: center;
}

#v3 {
  align-items: flex-end;
}

h2 {
  width: 50ch;
  font-size: 50px !important;
}

footer {
  margin-top: 50px;
}

#welcomeBtn {
  padding: 45px;
  box-shadow: 0px 0px 51px -16px rgba(0, 0, 0, 0.75) inset;
  box-shadow: 0px 0px 64px -3px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

#welcomeBtn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 53px -3px rgba(0, 0, 0, 0.75) inset;
}

.finalBtn {
  text-align: center;
  height: 20px;
  width: 55px;
  background-color: whitesmoke;
  color: black;
}

/**************** Final NAMI Overlay ***************/

#box13 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  position: absolute;
  top: 43000px;
  height: 100%;
  left: 0;
  font-family: 'Almarai', sans-serif;
  color: rgb(211, 211, 211);
  font-size: 35px;
  transition-duration: all 4s ease;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #212121;
  max-width: 1366px;
  z-index: 1;
}

#box13 > h1 {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
}

#box13 > main {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex: 100%;
  margin: auto;
  max-width: 1366px;
  width: 60ch;
  padding-left: 375px;
  padding-right: 375px;
}

#box13 > footer {
  grid-column: 2;
  grid-row: 3;
}

#box13 > footer > p > a {
  color: black;
  text-decoration: none;
}

/*********** To be assigned using JS ***********/

.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.showing {
  visibility: visible;
  opacity: 1;
  height: 100vh;
  z-index: 100;
}

.vertical {
  left: 0;
  z-index: 1;
  /* think about adjusting the height for the vertical scroll here  */
  height: 2000px;
}

.fadeIn {
  animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOut ease 1.5s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
