/* Hidden and showing classes */
.hidden {
  visibility: hidden;
  opacity: 0;
}

.showing {
  visibility: showing;
  opacity: 1;
}

body {
  position: relative;
  height: 4000px;
  background-color: white;
}

/* footer {
  visibility: hidden;
} */

.animationWrapper {
  position: absolute;
  height: 100vh;
}

section {
  position: absolute;
  height: 1000px;
  width: 100%;
}

.box {
  /* position: absolute; */
  transform: translate3d(0px, 0px, 0px);
  margin: auto;
  width: 100%;
  height: 1000px;
  /* Properties that allow for a smooth transition for the overlay */
  transition-property: opacity, visibility;
  transition-duration: 1s;
  transition-timing-function: ease;
}

#overlay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);

  height: 100%;
  text-align: center;
  background-color: black;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

#overlay > h1 {
  font-size: 100px;
  width: 100%;
  grid-column: 2/2;
  grid-row: 1;
}

#overlay > h2 {
  font-size: 100px;
  width: 100%;
  grid-column: 2/2;
  grid-row: 2;
}

#overlay > button {
  font-size: 100px;
  width: fit-content;
  margin: auto;
  grid-column: 2/2;
  grid-row: 3;
}

#box1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 1rem;
  background-color: darkslategrey;
  border-radius: 100%;
  transition-duration: 4s ease;
}

#box2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 1rem;
  background-color: cadetblue;
  border-radius: 100%;
}

#box3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 1rem;
  background-color: cadetblue;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

#box4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: cornflowerblue;
}

#voice1,
#voice2,
#voice3 {
  color: black;
  margin: 0 auto;
  visibility: hidden;
}

#voice1 {
  display: flex;
  font-size: 165px;
  grid-column: 2;
  grid-row: 1;
  align-items: flex-end;
  transition-duration: all 4s ease;
}

#voice2 {
  display: flex;
  font-size: 165px;
  grid-column: 2/3;
  grid-row: 3;
  align-items: flex-start;
  transition-duration: all 4s ease;
}
#voice3 {
  display: flex;
  font-size: 165px;
  grid-column: 2/2;
  grid-row: 2/2;
  align-items: flex-end;
}

.fadeIn {
  opacity: 1;
  transition: opacity 3s ease-in-out;
}

.fadeOut {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}
