* {
  margin: 0;
}

/* Hidden and showing classes */

.hidden {
  visibility: hidden;
  opacity: 0;
}

.showing {
  visibility: showing;
  opacity: 1;
}

/* Overlay Styling */

.overlay {
  position: absolute;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* background: #5c258d;

  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #4389a2, #5c258d); */

  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #4389a2, #5c258d); */

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* Second Choice */
  /* background: #16A085;  /* fallback for old browsers */

  /* background: -webkit-linear-gradient(to bottom, #F4D03F, #16A085);  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to bottom, #F4D03F, #16A085); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: #22c1c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #fdbb2d,
    #22c1c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #fdbb2d,
    #22c1c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Properties that allow for a smooth transition for the overlay */
  transition-property: opacity, visibility;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.overlay > article {
  box-sizing: border-box;
  /* background-color: #fff; */
  padding: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

/* Body */

body {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  max-width: 1000px !important;
  font-family: Helvetica, sans-serif;
}

/* Header */

header {
  width: 100%;
  font-size: 60px;
  margin: 50px auto;
  height: 30%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  justify-content: center;
}

/* Main */

section {
  display: flex;
  flex-wrap: wrap;
  height: 60%;
  width: 100%;
  color: rgba(245, 245, 245, 0.974);
}

main {
  font-size: 18px;
}

input,
#feelings {
  outline: none;
  width: 75%;
  height: 100px;
  border-radius: 100px;
  font-size: 45px;
  text-align: center;
  margin: 80px auto;
  color: rgba(245, 245, 245, 0.851);
  background: #22c0c300;
}

input:hover,
#feelings:hover {
  /* inset box shadow */
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

select {
  margin: 150px auto;
  text-align-last: center;
  font-size: 12px;
  width: 100%;
  font-size: 45px;
  border-radius: 50px;
  outline: none;
  color: rgba(245, 245, 245, 0.741);
  background: #22c0c300;
}

select:hover {
  /* inset box shadow */
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

button {
  width: 30%;
  height: 100px;
  font-size: 30px;
  text-align: center;
  outline: none;
  margin: 0 auto;
  border-radius: 100px;
  color: rgba(245, 245, 245, 0.851);
  background: #22c0c300;
}

button:hover {
  /* Add shadowing to make button more pronounced!! */

  box-shadow: 8px 12px 14px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 8px 12px 14px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 12px 14px 1px rgba(0, 0, 0, 0.75);
}

p {
  height: 100px;
  line-height: 150px;
}

/* article {
  background-color: #364958;
  color: rgba(245, 245, 245, 0.851);
  width: 350px;
  margin: 50px auto;
  line-height: 40px;
  text-align: left;
  padding: 20px 50px;
  border-radius: 10px;
}  */

/* Footer  */

/* footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
} */

/* #inspiration {
  flex: 100%;
  text-align: center;
  margin-top: 50px;
  background-color: #3b6064;
  color: rgba(245, 245, 245, 0.851);
}

#footerLinks {
  flex: 100%;
  text-align: center;
  color: rgba(245, 245, 245, 0.851);
  margin-top: 50px;
}

#footerLinks > a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.851);
}

#footerLinks > a:hover {
  color: #364958;
} */

#copyright {
  width: 100%;
  text-align: center;
  margin: 25px auto;
  color: #241900;
}
