* {
  margin: 0;
}

/* Hidden and showing classes */

.hidden {
  visibility: hidden;
  opacity: 0;
}

.showing {
  visibility: showing;
  opacity: 1;
}

/* Overlay Styling */

.overlay {
  position: absolute;
  background: #22c1c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #fdbb2d,
    #22c1c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #fdbb2d,
    #22c1c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Properties that allow for a smooth transition for the overlay */
  transition-property: opacity, visibility;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.overlay > article {
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

/* Body */

body {
  font-family: Helvetica, sans-serif;
  max-width: 75ch;
}

/* Header */

label {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

/* header {
  width: 100%;
  font-size: 60px;
  margin: 50px 0;
  height: 30%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  justify-content: center;
} */

/* Main */

main {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
p,
a {
  max-width: 75ch;
  text-align: center;
  margin: 10px auto;
  margin-bottom: 0;
}

h1 {
  font-weight: lighter;
  margin-top: 50px;
}
section {
  height: 60%;
  color: #342400;
}

.overlayContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  color: #342400;
  width: 75ch;
  max-width: 1366px;
  min-width: 800px;
  margin: 0 auto;
}

input,
#feelings {
  outline: none;
  width: 75%;
  height: 100px;
  border: 0;
  border-bottom: 2px solid #241900;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;
  color: #241900;
  background: #22c0c300;
}

select {
  margin: 150px auto;
  text-align-last: center;
  font-size: 24px;

  width: 75ch;
  outline: none;
  color: #241900;
  background: #22c0c300;
}

button {
  width: 30%;
  height: 100px;
  font-size: 30px;
  text-align: center;
  outline: none;
  margin: 0 auto;
  color: #241900;
  background: #22c0c300;
  border: 2px solid #241900;
}

#copyright {
  width: 100%;
  text-align: center;
  color: #241900;
  margin-top: 75px;
}

#footerLinks {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  color: #241900;
}

#footerLinks > a {
  text-decoration: none;
  color: #241900;
}

#footerLinks > a:hover {
  color: rgba(245, 245, 245, 0.851);
}

#articleOne {
  background-color: #ffffff19;
  color: #241900;
  width: auto;
  margin: auto;
  margin-top: 35px;
  line-height: 60px;
  text-align: left;
  padding: 35px;
  border-radius: 3px;
  align-items: center;
}

#inspiration {
  flex: 100%;
  text-align: center;
  width: auto;
  margin: auto;
  padding: 25px;
  background-color: #ffffff19;
  color: #241900;
}

#refreshBtn {
  margin-top: 30px;
}
